In [1]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2019, 7, 10, 19, 47, 37, 802854)

In [5]:
now.year,now.month,now.date

(2019, 7, <function datetime.date>)

In [8]:
datetime(2019,7,10) - datetime(2014,8,2,12,30)

datetime.timedelta(1802, 41400)

In [9]:
str(datetime(2019,7,19,19,55))

'2019-07-19 19:55:00'

In [11]:
datetime(2019,7,19,19,55).strftime('%Y/%m/%d')

'2019/07/19'

In [12]:
type(datetime(2019,7,19,19,55))

datetime.datetime

In [17]:
value = "2019/7/19"

In [18]:
datetime.strptime(value,'%Y/%m/%d')

datetime.datetime(2019, 7, 19, 0, 0)

In [19]:
from dateutil.parser import parse

In [23]:
parse('2019-7-19')

datetime.datetime(2019, 7, 19, 0, 0)

In [24]:
datestr = ['2019-6-1 12:00:01','2008-2-3 22:03:23']

In [25]:
import pandas as pd

In [27]:
idx = pd.to_datetime(datestr)

In [29]:
idx[0]

Timestamp('2019-06-01 12:00:01')

In [30]:
dates = [datetime(2019,6,1),datetime(2019,7,1),
        datetime(2019,10,1),datetime(2019,9,1),
        datetime(2019,12,1),datetime(2019,11,1)]

In [31]:
import numpy as np

In [32]:
ts = pd.Series(np.random.randn(6),index = dates)

In [33]:
ts

2019-06-01    1.091408
2019-07-01    0.025564
2019-10-01   -0.698197
2019-09-01   -1.467362
2019-12-01   -0.544606
2019-11-01    0.305625
dtype: float64

In [36]:
ts[::2]+ts

2019-06-01    2.182815
2019-07-01         NaN
2019-09-01         NaN
2019-10-01   -1.396393
2019-11-01         NaN
2019-12-01   -1.089211
dtype: float64

In [37]:
stamp = ts.index[2]

In [38]:
stamp

Timestamp('2019-10-01 00:00:00')

In [39]:
ts[stamp]

-0.69819664167033446

In [46]:
ts['2019-06']

2019-06-01    1.091408
dtype: float64

In [48]:
ts['2019-06':'2019-09']

2019-06-01    1.091408
2019-07-01    0.025564
2019-09-01   -1.467362
dtype: float64

In [52]:
rets = ts.resample('M')

In [53]:
rets

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

In [54]:
index = pd.date_range('20190401','20190428')

In [55]:
index

DatetimeIndex(['2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04',
               '2019-04-05', '2019-04-06', '2019-04-07', '2019-04-08',
               '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12',
               '2019-04-13', '2019-04-14', '2019-04-15', '2019-04-16',
               '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-20',
               '2019-04-21', '2019-04-22', '2019-04-23', '2019-04-24',
               '2019-04-25', '2019-04-26', '2019-04-27', '2019-04-28'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(start = "20190701",periods=10 )

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07', '2019-07-08',
               '2019-07-09', '2019-07-10'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range("20190701","20190801",freq='BM' )

DatetimeIndex(['2019-07-31'], dtype='datetime64[ns]', freq='BM')

In [61]:
pd.date_range("20190701","20190801",freq='4D' )

DatetimeIndex(['2019-07-01', '2019-07-05', '2019-07-09', '2019-07-13',
               '2019-07-17', '2019-07-21', '2019-07-25', '2019-07-29'],
              dtype='datetime64[ns]', freq='4D')

In [62]:
pd.date_range(start = "20190701",periods=10,freq='1h30min' )

DatetimeIndex(['2019-07-01 00:00:00', '2019-07-01 01:30:00',
               '2019-07-01 03:00:00', '2019-07-01 04:30:00',
               '2019-07-01 06:00:00', '2019-07-01 07:30:00',
               '2019-07-01 09:00:00', '2019-07-01 10:30:00',
               '2019-07-01 12:00:00', '2019-07-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [63]:
pd.date_range('20190401','20190728',freq="WOM-3FRI")

DatetimeIndex(['2019-04-19', '2019-05-17', '2019-06-21', '2019-07-19'], dtype='datetime64[ns]', freq='WOM-3FRI')

In [64]:
ts

2019-06-01    1.091408
2019-07-01    0.025564
2019-10-01   -0.698197
2019-09-01   -1.467362
2019-12-01   -0.544606
2019-11-01    0.305625
dtype: float64

In [65]:
ts.shift(2)

2019-06-01         NaN
2019-07-01         NaN
2019-10-01    1.091408
2019-09-01    0.025564
2019-12-01   -0.698197
2019-11-01   -1.467362
dtype: float64

In [67]:
ts.shift(2,freq='D')

2019-06-03    1.091408
2019-07-03    0.025564
2019-10-03   -0.698197
2019-09-03   -1.467362
2019-12-03   -0.544606
2019-11-03    0.305625
dtype: float64

In [68]:
from pandas.tseries.offsets import Day,MonthEnd

In [69]:
now = datetime.now()

In [70]:
now

datetime.datetime(2019, 7, 10, 22, 31, 7, 18227)

In [71]:
now + 3 * Day()

Timestamp('2019-07-13 22:31:07.018227')

In [72]:
now + MonthEnd()

Timestamp('2019-07-31 22:31:07.018227')

In [74]:
now + MonthEnd(2)

Timestamp('2019-08-31 22:31:07.018227')

In [75]:
of = MonthEnd()

In [76]:
of

In [77]:
of.rollback(now)

Timestamp('2019-06-30 22:31:07.018227')

In [78]:
of.rollforward(now)

Timestamp('2019-07-31 22:31:07.018227')

In [2]:
import pytz

In [3]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [4]:
tz = pytz.timezone('America/New_York')

In [5]:
tz

In [6]:
import pandas as pd

In [7]:
rng = pd.date_range('2012/3/9 9:30',periods=6,freq='D')

In [8]:
import numpy as np

In [9]:
ts = pd.Series(np.random.randn(len(rng)),index = rng)

In [10]:
ts

2012-03-09 09:30:00   -0.191463
2012-03-10 09:30:00    1.297819
2012-03-11 09:30:00    1.608031
2012-03-12 09:30:00   -0.597662
2012-03-13 09:30:00    2.031734
2012-03-14 09:30:00   -0.268807
Freq: D, dtype: float64

In [11]:
pd.date_range('2012/3/9 9:30',periods=6,freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [12]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -0.191463
2012-03-10 09:30:00+00:00    1.297819
2012-03-11 09:30:00+00:00    1.608031
2012-03-12 09:30:00+00:00   -0.597662
2012-03-13 09:30:00+00:00    2.031734
2012-03-14 09:30:00+00:00   -0.268807
Freq: D, dtype: float64

In [13]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.191463
2012-03-10 04:30:00-05:00    1.297819
2012-03-11 05:30:00-04:00    1.608031
2012-03-12 05:30:00-04:00   -0.597662
2012-03-13 05:30:00-04:00    2.031734
2012-03-14 05:30:00-04:00   -0.268807
Freq: D, dtype: float64

In [14]:
tse = ts.tz_localize('America/New_York')

In [15]:
tse.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.191463
2012-03-10 14:30:00+00:00    1.297819
2012-03-11 13:30:00+00:00    1.608031
2012-03-12 13:30:00+00:00   -0.597662
2012-03-13 13:30:00+00:00    2.031734
2012-03-14 13:30:00+00:00   -0.268807
Freq: D, dtype: float64

In [16]:
tse.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.191463
2012-03-10 15:30:00+01:00    1.297819
2012-03-11 14:30:00+01:00    1.608031
2012-03-12 14:30:00+01:00   -0.597662
2012-03-13 14:30:00+01:00    2.031734
2012-03-14 14:30:00+01:00   -0.268807
Freq: D, dtype: float64

In [17]:
stamp = pd.Timestamp('2012-3-12 14:00')

In [18]:
stamp

Timestamp('2012-03-12 14:00:00')

In [21]:
sutc = stamp.tz_localize('utc')

In [22]:
sutc.tz_convert('America/New_York')

Timestamp('2012-03-12 10:00:00-0400', tz='America/New_York')

In [23]:
sm = pd.Timestamp('2012-3-12 14:00',tz="Europe/Moscow")

In [24]:
sm

Timestamp('2012-03-12 14:00:00+0400', tz='Europe/Moscow')

In [25]:
p = pd.Period(2007,freq="A-DEC")

In [26]:
p

Period('2007', 'A-DEC')

In [27]:
p+5

Period('2012', 'A-DEC')

In [28]:
rng = pd.period_range('2000-1-1','2002-3-5',freq='M')

In [29]:
RNG

NameError: name 'RNG' is not defined

In [30]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
             '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12',
             '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06',
             '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12',
             '2002-01', '2002-02', '2002-03'],
            dtype='period[M]', freq='M')

In [31]:
p

Period('2007', 'A-DEC')

In [32]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [33]:
p = pd.Period(2007,freq="A-JUN")

In [34]:
p

Period('2007', 'A-JUN')

In [35]:
p.asfreq('M',how = 'start')

Period('2006-07', 'M')