In [1]:
import pandas as pd
import numpy as np

In [4]:
string_data = pd.Series(['aaa','bbb',np.nan,'ccc'])
string_data

0    aaa
1    bbb
2    NaN
3    ccc
dtype: object

In [5]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
string_data[0] = None
string_data

0    None
1     bbb
2     NaN
3     ccc
dtype: object

In [7]:
from numpy import nan as NA

In [8]:
data = pd.Series([1,NA,3,NA,7])

In [9]:
data

0    1.0
1    NaN
2    3.0
3    NaN
4    7.0
dtype: float64

In [10]:
data.dropna()

0    1.0
2    3.0
4    7.0
dtype: float64

In [12]:
data = pd.DataFrame([[1,6.5,3],[1,NA,NA],[NA,NA,NA],[NA,6,4]])

In [13]:
cleaned = data.dropna()

In [14]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [15]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.0  4.0

In [16]:
cleaned = data.dropna(how = 'all')

In [17]:
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.0  4.0

In [18]:
data.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [19]:
df = pd.DataFrame(np.random.randn(7,3))
df

          0         1         2
0 -0.283806 -0.282054 -0.559287
1  0.073127  1.298321  1.886328
2 -0.492248  0.095680 -0.807730
3 -0.588747 -0.752813 -0.792017
4 -0.389346  0.969873  1.468151
5  0.222172 -0.150668  0.711679
6 -0.076194  0.979310  1.473094

In [20]:
df.iloc[0:4,1] = NA
df.iloc[0:2,2] = NA
df

          0         1         2
0 -0.283806       NaN       NaN
1  0.073127       NaN       NaN
2 -0.492248       NaN -0.807730
3 -0.588747       NaN -0.792017
4 -0.389346  0.969873  1.468151
5  0.222172 -0.150668  0.711679
6 -0.076194  0.979310  1.473094

In [24]:
df.dropna(thresh=2)

          0         1         2
2 -0.492248       NaN -0.807730
3 -0.588747       NaN -0.792017
4 -0.389346  0.969873  1.468151
5  0.222172 -0.150668  0.711679
6 -0.076194  0.979310  1.473094

In [25]:
df.fillna(0)

          0         1         2
0 -0.283806  0.000000  0.000000
1  0.073127  0.000000  0.000000
2 -0.492248  0.000000 -0.807730
3 -0.588747  0.000000 -0.792017
4 -0.389346  0.969873  1.468151
5  0.222172 -0.150668  0.711679
6 -0.076194  0.979310  1.473094

In [27]:
df.fillna({1:0.1,2:0.2})

          0         1         2
0 -0.283806  0.100000  0.200000
1  0.073127  0.100000  0.200000
2 -0.492248  0.100000 -0.807730
3 -0.588747  0.100000 -0.792017
4 -0.389346  0.969873  1.468151
5  0.222172 -0.150668  0.711679
6 -0.076194  0.979310  1.473094

In [28]:
df.iloc[0:4,1] = NA
df.iloc[0:2,2] = NA
df

          0         1         2
0 -0.283806       NaN       NaN
1  0.073127       NaN       NaN
2 -0.492248       NaN -0.807730
3 -0.588747       NaN -0.792017
4 -0.389346  0.969873  1.468151
5  0.222172 -0.150668  0.711679
6 -0.076194  0.979310  1.473094

In [34]:
df.fillna(999)

          0           1           2
0 -0.283806  999.000000  999.000000
1  0.073127  999.000000  999.000000
2 -0.492248  999.000000   -0.807730
3 -0.588747  999.000000   -0.792017
4 -0.389346    0.969873    1.468151
5  0.222172   -0.150668    0.711679
6 -0.076194    0.979310    1.473094

In [36]:
data = pd.DataFrame({'k1':['a','b']*3+['b'],'k2':[1,1,2,3,3,4,4]})

In [37]:
data

  k1  k2
0  a   1
1  b   1
2  a   2
3  b   3
4  a   3
5  b   4
6  b   4

In [38]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [39]:
data.drop_duplicates()

  k1  k2
0  a   1
1  b   1
2  a   2
3  b   3
4  a   3
5  b   4

In [40]:
data['v1'] = range(7)

In [41]:
data

  k1  k2  v1
0  a   1   0
1  b   1   1
2  a   2   2
3  b   3   3
4  a   3   4
5  b   4   5
6  b   4   6

In [44]:
data.drop_duplicates(['k1'],keep = 'last')

  k1  k2  v1
4  a   3   4
6  b   4   6

In [45]:
data = pd.DataFrame({'food':['a','b','c','d'],'num':[1,2,3,4]})

In [46]:
map2food = {'a':'apple','b':'bread','c':'cake','d':'dave'}

In [47]:
data['realfood'] = data['food'].map(map2food)

In [48]:
data

  food  num realfood
0    a    1    apple
1    b    2    bread
2    c    3     cake
3    d    4     dave

In [49]:
data = pd.Series([1,2,999,999,1000])

In [50]:
data.replace(999,NA)

0       1.0
1       2.0
2       NaN
3       NaN
4    1000.0
dtype: float64

In [53]:
data.replace([999,1000],[NA,999])

0      1.0
1      2.0
2      NaN
3      NaN
4    999.0
dtype: float64

In [55]:
data.replace({999:'aaa',1000:'bbb'})

0      1
1      2
2    aaa
3    aaa
4    bbb
dtype: object

In [2]:
data = pd.DataFrame(np.arange(12).reshape((3,4)),index = ['AAA','BBB','CCC']
                   ,columns=['one','two','three','four'])

In [7]:
map2index = {'AAA':'aaa','BBB':'bbb','CCC':'ccc'}
trans = lambda x:x[:4].upper()
type(trans)
data.index.map(trans)

Index(['AAA', 'BBB', 'CCC'], dtype='object')

In [8]:
data.rename(columns=str.upper)

     ONE  TWO  THREE  FOUR
AAA    0    1      2     3
BBB    4    5      6     7
CCC    8    9     10    11

In [12]:
data.rename(index = {'AAA':'aaa'},columns={'one':'1'})

     1  two  three  four
aaa  0    1      2     3
BBB  4    5      6     7
CCC  8    9     10    11

In [13]:
data

     one  two  three  four
AAA    0    1      2     3
BBB    4    5      6     7
CCC    8    9     10    11

In [14]:
ages = [20,22,25,27,21,23,37,35,78,54,32]
bins = [18,25,35,60,100]
cats = pd.cut(ages,bins)

In [15]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (35, 60], (25, 35], (60, 100], (35, 60], (25, 35]]
Length: 11
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [16]:
type(cats)

pandas.core.categorical.Categorical

In [17]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 1], dtype=int8)

In [18]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [19]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     2
(60, 100]    1
dtype: int64

In [20]:
name = ['youth','adult','mid','old']
pd.cut(ages,bins,labels=name)

[youth, youth, youth, adult, youth, ..., mid, adult, old, mid, adult]
Length: 11
Categories (4, object): [youth < adult < mid < old]

In [23]:
cats = pd.cut(ages,4,precision=2)

In [24]:
pd.value_counts(cats)

(19.94, 34.5]    7
(34.5, 49.0]     2
(63.5, 78.0]     1
(49.0, 63.5]     1
dtype: int64

In [25]:
cats = pd.qcut(ages,4)

In [26]:
pd.value_counts(cats)

(36.0, 78.0]      3
(22.5, 27.0]      3
(19.999, 22.5]    3
(27.0, 36.0]      2
dtype: int64

In [36]:
data = pd.DataFrame(np.random.randn(1000,4))

In [37]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.050973     0.003371    -0.047095     0.060104
std       0.955165     0.983999     0.983399     0.996108
min      -3.474142    -2.948894    -3.309291    -3.257388
25%      -0.608303    -0.667770    -0.715731    -0.607206
50%       0.064871     0.023623    -0.048600     0.064273
75%       0.716787     0.678355     0.597443     0.712072
max       2.672838     3.105296     3.006251     3.705424

In [38]:
data[(np.abs(data) > 3)]

      0   1   2        3
0   NaN NaN NaN      NaN
1   NaN NaN NaN      NaN
2   NaN NaN NaN      NaN
3   NaN NaN NaN      NaN
4   NaN NaN NaN -3.16557
5   NaN NaN NaN      NaN
6   NaN NaN NaN      NaN
7   NaN NaN NaN      NaN
8   NaN NaN NaN      NaN
9   NaN NaN NaN      NaN
10  NaN NaN NaN      NaN
11  NaN NaN NaN      NaN
12  NaN NaN NaN      NaN
13  NaN NaN NaN      NaN
14  NaN NaN NaN      NaN
15  NaN NaN NaN      NaN
16  NaN NaN NaN      NaN
17  NaN NaN NaN      NaN
18  NaN NaN NaN      NaN
19  NaN NaN NaN      NaN
20  NaN NaN NaN      NaN
21  NaN NaN NaN      NaN
22  NaN NaN NaN      NaN
23  NaN NaN NaN      NaN
24  NaN NaN NaN      NaN
25  NaN NaN NaN      NaN
26  NaN NaN NaN      NaN
27  NaN NaN NaN      NaN
28  NaN NaN NaN      NaN
29  NaN NaN NaN      NaN
..   ..  ..  ..      ...
970 NaN NaN NaN      NaN
971 NaN NaN NaN      NaN
972 NaN NaN NaN      NaN
973 NaN NaN NaN      NaN
974 NaN NaN NaN      NaN
975 NaN NaN NaN      NaN
976 NaN NaN NaN      NaN
977 NaN NaN NaN      NaN
978 NaN NaN NaN      NaN
979 NaN NaN NaN      NaN
980 NaN NaN NaN      NaN
981 NaN NaN NaN      NaN
982 NaN NaN NaN      NaN
983 NaN NaN NaN      NaN
984 NaN NaN NaN      NaN
985 NaN NaN NaN      NaN
986 NaN NaN NaN      NaN
987 NaN NaN NaN      NaN
988 NaN NaN NaN      NaN
989 NaN NaN NaN      NaN
990 NaN NaN NaN      NaN
991 NaN NaN NaN      NaN
992 NaN NaN NaN      NaN
993 NaN NaN NaN      NaN
994 NaN NaN NaN      NaN
995 NaN NaN NaN      NaN
996 NaN NaN NaN      NaN
997 NaN NaN NaN      NaN
998 NaN NaN NaN      NaN
999 NaN NaN NaN      NaN

[1000 rows x 4 columns]

In [39]:
np.sign(data)*3

       0    1    2    3
0    3.0 -3.0  3.0  3.0
1    3.0  3.0 -3.0 -3.0
2    3.0  3.0  3.0  3.0
3    3.0 -3.0 -3.0  3.0
4   -3.0 -3.0 -3.0 -3.0
5    3.0  3.0  3.0 -3.0
6   -3.0 -3.0 -3.0  3.0
7    3.0  3.0  3.0  3.0
8    3.0 -3.0  3.0 -3.0
9   -3.0  3.0 -3.0  3.0
10   3.0 -3.0 -3.0 -3.0
11   3.0  3.0  3.0 -3.0
12  -3.0  3.0  3.0  3.0
13  -3.0 -3.0  3.0 -3.0
14   3.0  3.0  3.0  3.0
15   3.0  3.0 -3.0 -3.0
16   3.0  3.0 -3.0  3.0
17   3.0  3.0 -3.0  3.0
18   3.0 -3.0  3.0 -3.0
19  -3.0 -3.0  3.0  3.0
20  -3.0 -3.0 -3.0  3.0
21   3.0 -3.0 -3.0  3.0
22  -3.0  3.0 -3.0  3.0
23   3.0 -3.0 -3.0  3.0
24   3.0 -3.0 -3.0 -3.0
25  -3.0  3.0 -3.0  3.0
26   3.0 -3.0 -3.0  3.0
27  -3.0 -3.0  3.0  3.0
28   3.0 -3.0 -3.0  3.0
29  -3.0 -3.0  3.0 -3.0
..   ...  ...  ...  ...
970  3.0 -3.0 -3.0 -3.0
971 -3.0 -3.0 -3.0  3.0
972  3.0  3.0  3.0 -3.0
973  3.0  3.0 -3.0 -3.0
974 -3.0 -3.0  3.0 -3.0
975  3.0 -3.0 -3.0 -3.0
976 -3.0 -3.0 -3.0  3.0
977  3.0 -3.0  3.0  3.0
978  3.0  3.0  3.0  3.0
979  3.0  3.0  3.0  3.0
980 -3.0 -3.0  3.0  3.0
981  3.0 -3.0 -3.0  3.0
982  3.0 -3.0 -3.0 -3.0
983  3.0 -3.0  3.0 -3.0
984  3.0 -3.0 -3.0 -3.0
985 -3.0 -3.0  3.0  3.0
986  3.0 -3.0  3.0  3.0
987 -3.0  3.0 -3.0 -3.0
988  3.0  3.0  3.0  3.0
989  3.0  3.0  3.0 -3.0
990 -3.0  3.0 -3.0  3.0
991 -3.0  3.0  3.0 -3.0
992 -3.0  3.0  3.0  3.0
993 -3.0 -3.0 -3.0 -3.0
994 -3.0 -3.0  3.0  3.0
995 -3.0  3.0 -3.0  3.0
996  3.0  3.0 -3.0  3.0
997 -3.0  3.0 -3.0 -3.0
998 -3.0  3.0 -3.0 -3.0
999  3.0  3.0  3.0 -3.0

[1000 rows x 4 columns]

In [32]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
55   3.473676  0.066938 -1.625842  0.356590
76   1.019607  0.585230 -0.127172  3.006786
79   0.103370  3.733767  0.312245 -0.624180
117 -3.346289 -0.369113 -1.048135 -0.833713
423 -2.113211 -1.959683  3.036665  0.780020
517 -3.197736 -0.338725 -0.466113 -1.037161
582 -3.250333  1.200961  1.913414 -1.191967
632  1.144786 -0.605203  3.098174  0.202817
651  2.653190 -0.882483  1.411609 -3.605533
675  3.187410 -0.241953 -1.539860  0.173238
683 -0.292055 -3.049157 -0.494697  0.397324
750 -0.280183  3.228854 -1.006403 -0.357934
758 -3.045886  1.367624 -0.558367 -0.183485
810  3.763722 -1.052765  0.219082 -0.183018
828 -0.250823  0.766521  0.665113  3.054497
882 -0.616591 -1.259970 -3.254322 -0.115449
905 -0.383454  1.705297  3.010239  0.163434

In [41]:
a = pd.DataFrame([1,2,np.nan])
print(a)
b = pd.DataFrame([3,4,5])
print(b)
a = b
print(a)

     0
0  1.0
1  2.0
2  NaN
   0
0  3
1  4
2  5
   0
0  3
1  4
2  5

In [42]:
data[(np.abs(data) > 3)] = np.sign(data)*3

In [43]:
data

            0         1         2         3
0    0.789388 -1.215744  1.401816  1.683428
1    0.324838  0.116117 -0.321217 -0.246640
2    1.237481  1.440099  1.864472  0.544936
3    0.434802 -1.142914 -1.221328  0.848510
4   -0.637604 -0.834180 -0.799964 -3.000000
5    1.102221  0.398372  0.300066 -1.395791
6   -1.635560 -0.279562 -0.364607  1.084610
7    0.804174  0.249662  0.045424  0.126081
8    1.388530 -0.675348  0.872851 -1.413930
9   -1.300522  0.727204 -0.760203  0.680005
10   0.952800 -0.039599 -0.462414 -0.841056
11   0.526643  0.375788  0.544134 -1.732194
12  -0.071334  1.020814  0.945365  1.042123
13  -0.682101 -1.327517  2.462028 -0.742785
14   0.579174  0.720208  0.265212  1.391338
15   0.185712  0.212525 -1.241149 -0.064241
16   0.558185  1.460660 -0.783979  1.104967
17   0.431933  0.243915 -0.305261  1.609729
18   0.479289 -0.330330  0.469444 -0.287721
19  -0.574346 -0.091166  0.877765  0.486054
20  -1.170719 -1.219117 -0.275226  0.185120
21   0.872483 -0.877358 -0.990348  0.644815
22  -0.680293  1.958420 -0.154269  1.125027
23   0.908378 -0.418922 -0.099985  0.108889
24   1.499939 -0.608407 -0.795894 -0.144257
25  -0.263892  0.217850 -0.304518  0.289498
26   1.483934 -0.438081 -1.166430  0.604182
27  -0.480483 -0.953574  0.397200  0.618000
28   0.668998 -1.260451 -2.094056  0.384340
29  -1.294499 -0.326233  1.605603 -0.172975
..        ...       ...       ...       ...
970  1.404818 -0.378298 -1.081525 -0.010322
971 -1.154221 -1.087866 -0.036602  0.015020
972  0.372823  0.332059  0.662578 -0.956674
973  0.477663  0.745866 -0.095821 -0.120885
974 -1.522962 -0.650703  0.414858 -1.121914
975  0.076223 -1.558491 -0.305840 -0.360063
976 -0.167848 -0.094741 -0.568355  1.570083
977  1.818627 -1.001700  0.878766  0.154302
978  1.099912  0.190660  0.849190  1.620450
979  1.207083  2.395446  0.674599  1.407026
980 -0.616725 -1.070588  1.023841  1.965771
981  0.386985 -0.249039 -0.999345  0.552053
982  0.236637 -0.029064 -1.047123 -1.001387
983  0.069855 -0.479294  1.346373 -0.558372
984  0.038705 -0.379240 -0.971317 -1.180866
985 -0.183495 -1.323580  0.167540  0.170037
986  1.073883 -0.194388  1.590484  1.031561
987 -0.045896  0.893291 -0.377919 -1.095340
988  1.810418  0.123405  0.001597  0.938242
989  0.248404  0.282393  1.016823 -1.474634
990 -0.681738  0.379930 -0.080922  1.164157
991 -1.375550  0.114028  0.056352 -1.535683
992 -1.704595  0.242321  0.682125  0.293413
993 -1.323522 -1.430500 -0.396456 -1.188497
994 -0.263592 -1.407295  1.222829  0.309205
995 -0.419843  0.928189 -0.234006  0.916466
996  0.642852  0.016184 -0.926077  2.477271
997 -1.060107  0.112802 -1.091443 -0.566120
998 -1.894011  0.063802 -0.381748 -0.592759
999  1.304304  0.525653  0.761173 -1.466250

[1000 rows x 4 columns]

In [35]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.027414    -0.042935     0.000672    -0.010316
std       1.054026     0.998903     1.040726     0.956780
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.773041    -0.708162    -0.698150    -0.608198
50%      -0.006493    -0.075580     0.004303    -0.022819
75%       0.656038     0.612273     0.664666     0.623498
max       3.000000     3.000000     3.000000     3.000000

In [45]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5,4)))
sample = np.random.permutation(5)
sample

array([4, 1, 3, 0, 2])

In [46]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [47]:
df.take(sample)

    0   1   2   3
4  16  17  18  19
1   4   5   6   7
3  12  13  14  15
0   0   1   2   3
2   8   9  10  11

In [48]:
df.sample(n=3)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
1   4   5   6   7

In [51]:
val = 'a,b,c'
val = val.split(',')

In [52]:
'::'.join(val)

'a::b::c'

In [53]:
'ab'in val

False

In [54]:
'a'in val

True

In [55]:
','in val

False

In [56]:
val

['a', 'b', 'c']

In [58]:
'abcdeb'.find('b')

1

In [59]:
'abcb'.count('b')

2

In [60]:
'aaaa'.replace('a','b')

'bbbb'

In [61]:
import re

In [62]:
text = 'aaa   bbb   ttt   \tqqq\nfff'
re.split('\s+',text)

['aaa', 'bbb', 'ttt', 'qqq', 'fff']

In [63]:
regex = re.compile('\s+')

In [64]:
regex.split(text)

['aaa', 'bbb', 'ttt', 'qqq', 'fff']

In [65]:
regex.findall(text)

['   ', '   ', '   \t', '\n']

In [89]:
data = pd.Series({'john':'123456789@qq.com'})

In [76]:
data

john    1111111@qq.com
dtype: object

In [77]:
data.isnull()

john    False
dtype: bool

In [79]:
data.str.contains('qq')

john    True
dtype: bool

In [90]:
data.str.get(9)

john    @
dtype: object

In [91]:
data.str[9]

john    @
dtype: object

In [92]:
data.str[:5]

john    12345
dtype: object